// SCSS variables
$fwBold: 700;
$fwNormal: 500;
$fwlight: 300;

$mainColor: #1d13a3;
$altColor: #949ad4;
$lightColor: #fff;

$fastTransition: 0.2s;
$slowTransition: 1s;

// Base spacing to use everywhere by multiplying it if needed
$gutter: 0.8rem;